<!DOCTYPE html>

<html>
<head>
	<title>habigotchi!</title>
	<script src="static/jquery-2.1.0.min.js"></script>
	<link rel="stylesheet" href="static/assets/styles.css" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,400,700,300' rel='stylesheet' type='text/css'>
    <script src="static/olas_main.js"></script>
    <script src="static/assets/panicscript.js"></script>

	<link href='http://fonts.googleapis.com/css?family=Maven+Pro:500' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Englebert' rel='stylesheet' type='text/css'>
			<!-- <script src = "static/assets/script.js"> -->



</head>

<body>

	<div id = "content">

		<canvas id = "canvas2" style="overflow: hidden"></canvas>
		<canvas id = "canvas1" style="overflow: hidden"></canvas>
		<canvas id = "canvas" style="overflow: hidden"></canvas>

		<!--landing page-->
		<div id = "landing-container">

			<!--<div id="modal-container">
			<div id="popup-container">
				

			</div>
			</div>-->

			<div id = ""></div>

			<div id = "logo-container">
				<img src="static/assets/logo.png">
			</div>
			
			<div id = "loginsignup-container">
				<div id = "loginsignup">
					<!--<div id = "signup">
						Sign Up	
						<br><button type="button" name="signup-button" type="button">start</button>
					</div>-->

					<div id = "login">
						Log In
						<input name="username" placeholder ="username">
						<input type= "password" name="password" placeholder ="password">
						<br><input name="login-button" value="sign in" type="submit">
						<input name="register-button" value="sign up" type = "submit">
					</div>
				</div>

			</div>




		</div>

		<!--end landing page-->



		<!--begin main page-->

		<div id = "main-container">
			<div id = "habit-container">
			</div>
			<div id = "stats-container">
			</div>


			<div class="wrapper"> <!--pushes footer to bottom-->
			<div class="push"></div>
			<div id = "mogotchi-container">
			</div>
			</div>
		</div>
		<!--end main page-->
		
	

	</div>

	<script src = "static/assets/cloudsscript.js"></script>

</body>

</html>
