<!DOCTYPE html>

<html>
<head>
	<title>habigotchi!</title>
	<script src="static/jquery-2.1.0.min.js"></script>
	<link rel="stylesheet" href="static/assets/styles.css" type="text/css">
	<link rel="stylesheet" href="static/olas_styles.css" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Oxygen:700,400,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,400,700,300' rel='stylesheet' type='text/css'>
    <!-- <script src="static/olas_main.js"></script> -->
    <script src="static/olas_main2.js"></script>
    <script src="static/assets/panicscript.js"></script>

	<link href='http://fonts.googleapis.com/css?family=Maven+Pro:500' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Englebert' rel='stylesheet' type='text/css'>
			<!-- <script src = "static/assets/script.js"> -->



</head>

<body>

	<div id = "content">

		<canvas id = "canvas2" style="overflow: hidden"></canvas>
		<canvas id = "canvas1" style="overflow: hidden"></canvas>
		<canvas id = "canvas" style="overflow: hidden"></canvas>

        <div id = "click-panel-container">
            <div id = "click-panel"></div>
            <div id = "popup-container"></div>
        </div>
		<!--landing page-->
		<div id = "landing-container">

			<!--<div id="modal-container">
			<div id="popup-container">
				

			</div>
			</div>-->

			<div id = ""></div>

			<div id = "logo-container">
				<img src="static/assets/logo.png">
			</div>
			
			<div id = "loginsignup-container">
				<div id = "loginsignup">
					<!--<div id = "signup">
						Sign Up	
						<br><button type="button" name="signup-button" type="button">start</button>
					</div>-->

					<div id = "login">
						Log In
						<input name="username" placeholder ="username">
						<input type= "password" name="password" placeholder ="password">
						<br><input name="login-button" value="sign in" type="submit">
						<input name="register-button" value="sign up" type = "submit">
					</div>
				</div>

			</div>




		</div>

		<!--end landing page-->



		<!--begin main page-->

		<div id = "main-container">
		    <div id ="main-content">
			<div id = "habit-container">
			    <div id="habit-name">to-do list</div>
			    <!--habits-list -->
			    <div id="habit-list"></div>
			    <!--add task -->
			    <div id="habit-add-task">
                    <button id="habit-add-task-button">
                        ADD TASK
                    </button>
                    <div id="habit-check-delete-container">
                        <button id="habit-delete-task-button">
                            DELETE TASK
                        </button>
                        <button id="habit-check-task-button">
                            CHECK TASK
                        </button>
                    </div>
			    </div>
			</div>
			<div id = "stats-container">
			    <div id = "stats-info">
				<div id ="stats-name">
				    Marty
				</div>
				<div id = "stats-EV">EV </div>
				<div id="stats-EV-level">1</div>
				<div id= "stats-LV">LV</div>
				<div id="stats-LV-level">1</div>

			    </div>
			    <div id="stats-stats-container">
				<div id="stats-hp-container">
				    <div id="stats-hp-barbase">
					<!-- #stats-hp-bar width percentage controls how much hp the habigotchi has" -->
					<div id="stats-hp-bar">
					    <div id="stats-hp">
						<div id="stats-hp-name">HP</div>
						<div id="stats-hp-amount">100</div>
						<div id="stats-hp-slash">/</div>
						<div id="stats-hp-max">100</div>
					    </div>
					</div>
			            </div>

				</div>
				<div id="stats-exp-container">
				    <div id="stats-exp-barbase">
					<!-- #stats-exp-bar width percentage controls how much exp shows -->
					<div id="stats-exp-bar">
					    <div id="stats-exp">
						<div id="stats-exp-name">EXP</div>
						<div id="stats-exp-amount">20</div>
						<div id="stats-exp-slash">/</div>
						<div id="stats-exp-max">20</div>
					    </div>
					</div>
			     	    </div>
				</div>
			    </div>
			</div>

		    </div>
		</div>


			<div class="wrapper"> <!--pushes footer to bottom-->
			    <div class="push"></div>
			</div>
			<div id = "mogotchi-container">
			    <div id="mogatchi">

				<!-- change dimensions to match dimensions of the sprite / gif-->
				<div id="mogatchi-sprite-container">
				    <!--put gif in #mogotchi-sprite -->
				    <div id="mogatchi-sprite">
					<img src="static/assets/mogotchi-jump.gif">
					</div>
				</div>
			    </div>
			    <div id="light-green"></div>
			    <div id="med-green"></div>
			    <div id="dark-green"></div>
				</div>
			</div>
		</div>
		<!--end main page-->
		
	

	</div>

    <!-- just unclouded it to make testing easier -->
    <!-- <script src = "static/assets/cloudsscript.js"></script> -->

</body>

</html>
