<html>
<head>
     <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
     <link href="static/submit.css" type="text/css" rel="stylesheet" >
     <link rel="icon" href="static/favicon.ico" type="image/x-icon">
     <title> Submit </title>
</head>
<body background = 'http://i.imgur.com/G1DbdOa.png' bgproperties = "fixed">
    <a href= "/" class = "a"> <button type="button" class = "button">Home</button></a> 
    <a href= "/signup" class = "a"><button type="button" class = "button">Submit</button></a>
    <form name="input" action="/signup" method="post">
        <div class = 'table' id = 'submittable'>
            <table>
                Name <input type="text" name="Name" class="input"  required /><br>     
                number&nbsp; &nbsp; &nbsp; <input type="text" name="number" class="input"  required /><br>
                email &nbsp; &nbsp; <input type ="text" name = "email" class="input" required  /> <br>
                <table><div class = 'table' id = 'buttontable'>
                    <a><input type="submit" value= "Submit"  class="button"></a>
                </table>
            </table> 
    </form>
</body>
</html>