<style>
    #habits{
        position: fixed;
        margin: 10px;
        padding: 5px;
        border-radius:4px;
        background-color: white;
        font-family: sans-serif;
        font-size: 1em;
    }
    body{
        background-color: #A0A0A0;
    }


</style>
<body>
    <div id = "container">
        <span id = "habits">
            <label><input type="checkbox" name="checkbox" value="value" class="squaredTwo">Fuck Shit UP</label><br>
            <label><input type="checkbox" name="checkbox" value="value" class="squaredTwo">Don't Die</label><br>
            <label><input type="checkbox" name="checkbox" value="value" class="squaredTwo">Live da bro code</label><br>
            <label><input type="checkbox" name="checkbox" value="value" class="squaredTwo">don't lose your way</label><br>
        </span>
    </div>
</body>